{{#if is_admin}}
  <a href="/admin/"> Neue Suche </a>
{{/if}}

<h1>Teilnahme</h1>
<h2>Teilnahmedaten</h2>
<h3>Benutzer</h3>
<a href=".">{{user_firstname}} {{user_lastname}} ({{user_id}})</a>
<h3>Wettbewerb</h3>
{{contestname}} ({{contestid}})
<h3>Start</h3>
{{ start_date }}
<h2>Einsendungen</h2>
<ul>
   {{#each submissions}}
      {{#each tasks}}
         <li>{{ ../name }} ({{stars}}☆):
            <ul>
               {{#each submissions}}
                  <li>{{date}}: {{grade}}★</li>
               {{/each}}
            </ul>
         </li>
      {{/each}}
   {{/each}}
</ul>

{{#if can_delete }}
<h2>Teilnahme löschen</h2>
<form id="delete" action="" method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}">
  <input type="submit" value="Teilnahme löschen!">
</form>
{{/if}}

<div id="deleted" style="color:black;"></div>
<script>
  document.getElementById("delete").onsubmit = function(event) {
    if (confirm("Teilnahme wirklich löschen?")) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", window.location.href, true);
      xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE) {
          if (this.status === 200) {
            result = JSON.parse(this.responseText);
            if (result.status == "ok") {
              document.getElementsByTagName("body")[0].style.color = "gray";
              document.getElementById("delete").style.display = "None";
              document.getElementById("deleted").innerText = "Teilnahme gelöscht.";
            } else {
              alert("Kann Teilnahme nicht löschen: " + result.reason);
            }
          }
          else {
            alert("Request error " + this.status + ": " + this.statusText);
          }
        }
      }
      xhr.send("csrf_token={{csrf_token}}");
    }
    return false;
  };
</script>
