<h1>{{contest.name}}</h1>

<p><a href="./">Zur Wettbewerbsübersicht</a> | <a href="/">Zur Startseite</a></p>

{{#if teacher}}
  <p><a href="/contest/{{ contest.id }}/result/">Ergebnisse meiner Gruppen anzeigen.</a></p>
{{/if}}

<p>Dauer: {{contest.duration}} Minuten</p>

{{#if is_started}}

<p>Gestartet vor {{time_info.passed_secs_total}} Sekunden.</p>

<p>
  {{#if time_info.can_still_compete}}
    Verbleibenden Zeit: {{time_left_formatted}}
  {{else}}
    {{#if time_info.is_review}}
      Review-Modus: Du kannst die Aufgaben öffnen und bearbeiten. Die Lösungen werden aber nicht gespeichert
      und geben keine Punkte.
      {{#if time_info.has_review_end }}
        Der Review-Modus endet in
        {{time_info.until_review_end_day}} Tagen,
        {{time_info.until_review_end_hour}} Stunden und
        {{time_info.until_review_end_min}} Minuten.
      {{/if}}
    {{else}}
      Die Zeit ist abgelaufen. Du kannst nun die Aufgaben nicht mehr öffnen.
      {{#if time_info.has_future_review }}
        Der Review-Modus beginnt in
        {{time_info.until_review_start_day}} Tagen,
        {{time_info.until_review_start_hour}} Stunden und
        {{time_info.until_review_start_min}} Minuten.
      {{/if}}
    {{/if}}
  {{/if}}
</p>

{{#each tasks}}
  <p>
    {{name}}:
    {{#each subtasks}}
      <li><a href="/task/{{id}}">{{linktext}}</a></li>
    {{/each}}
  </p>
{{/each}}

<hr>
<p>
Punktestand: {{ total_points }} ★ / {{ max_total_points }} ☆ &nbsp; ({{ relative_points }} %)
</p>

{{else}}

{{#if can_start}}
<p>
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <input type="submit" value="Jetzt starten!">
  </form>
</p>

<p>Der Wettbewerb kann nach dem Starten nicht mehr pausiert werden.</p>
{{/if}}

{{/if}}

{{#if teacher}}
  <p><a href="/contest/{{ contest.id }}/result/">Ergebnisse meiner Gruppen anzeigen.</a></p>
{{/if}}

<p><a href="./">Zur Wettbewerbsübersicht</a> | <a href="/">Zur Startseite</a></p>
