<h1>{{contest.name}}</h1>
<p><a href="..">Zum Wettbewerb</a> | <a href="../..">Zur Wettbewerbsübersicht</a> | <a href="/">Zur Startseite</a></p>

<h2>Ergebnisse</h2>


<style>
  td { padding-left: 15px;}
</style>

{{#if result}}
  <table>
    <tr>
      <td>Gruppe</td>
      <td>Teilnehmer</td>
      <td>Logincode</td>
      <td>Punkte</td>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Summe</td>
      {{#each taskname}}
        <td>{{this}}</td>
      {{/each}}
    </tr>

    {{#each result}}
      <tr><td><a href="/group/{{this.group_id}}">{{this.groupname}}</a></td></tr>
      {{#each this.user_results}}
        <tr><td></td>
          <td><a href="/user/{{this.user_id}}">{{this.firstname}} {{this.lastname}} ({{this.grade}})</a></td>
          <td>{{this.logincode}}</a></td>
          {{#each this.results}}
            <td>{{this}}</td>
          {{/each}}
        {{/each}}
      </tr>
    {{/each}}
  </table>
{{else}}
  <em>Für diesen Wettbewerb sind noch keine Ergebnisse ihrer Gruppen verzeichnet.</em>
{{/if}}

<p><a href="..">Zum Wettbewerb</a> | <a href="../..">Zur Wettbewerbsübersicht</a> | <a href="/">Zur Startseite</a></p>
