<h1>Gruppen</h1>
<p><a href="/">Zur Startseite</a></p>

<h2>Gruppe anlegen</h2>
<p>
   <form action="/group/" method="post">
      Gruppename:
      <input name="name">
      Marker:
      <input name="tag" placeholder="optional">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}">
      <input type="submit" value="Neue Gruppe anlegen">
   </form>
</p>
<p>Der Marker wird beim Druck von Urkunden mitgedruckt und dient für Sie zur Zuordnung</p>

<h2>Meine bestehenden Gruppen</h2>
<p><a href="/contest/">Wettbewerbsergebnisse meiner Gruppen</a></p>

<p>
  {{#if group}}
    <table>
       <tr>
          <th>Name</th>
          <th>Gruppencode</th>
          <th>Mitglieder</th>
          <th>Marker</th>
        </tr>
        {{#each group}}
          <tr>
            <td><a href="/group/{{id}}">{{name}}</a></td>
            <td>{{code}}</td>
            <td>–</td>
            <td>{{tag}}</td>
            <td><a href="/group/{{id}}">bearbeiten …</a></td>
          </tr>
        {{/each}}
      </table>
  {{else}}
    <em>
      Noch keine Gruppe vorhanden.
      Legen Sie oben eine neue Gruppe an, um Ihren Schülerinnen und Schülern
      die Teilnahme an Wettbewerben zu ermöglichen
    </em>
  {{/if}}
<p>
   
<p><a href="/">Zur Startseite</a></p>
