<h1>Login</h1>

<p>
{{ reason }}

<p>
<form action="login" method="post">
  Username:<br>
  <input type="text" name="username" value="{{ username }}" autofocus>
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="log in">
</form>


<form action="clogin" method="post">
  Gruppencode / Teilnahmecode:<br>
  <input type="text" name="code" value="{{ code }}">
  <br><br>
  <input type="submit" value="log in">
</form>




{{#if oauth_url}}
{{#if self_url}}
<p><a href="{{ oauth_url }}{{ self_url }}/oauth">PMS-Login</a>
{{/if}}
{{/if}}
