<h1>Login</h1>

<p>
{{ reason }}

<p>
<form action="login" method="post">
  Username:<br>
  <input type="text" name="username" value="{{ username }}" autofocus>
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="log in">
</form>


<form action="clogin" method="post">
  Gruppencode / Teilnahmecode:<br>
  <input type="text" name="code" value="{{ code }}">
  <br><br>
  <input type="submit" value="log in">
</form>




{{#if self_url}}
   {{#each oauth_links}}
      <a href="{{ this.2 }}{{ ../self_url }}/oauth/{{ this.0 }}">{{ this.1 }}</a>
   {{/each}}
{{/if}}
