<!DOCTYPE html>
<html lang="en" style="background-color: #fafafa;">
  <head>
    <meta charset="utf-8">
    <title>Jugendwettbewerb Informatik: Programmieren – einfacher als du denkst!</title>
    <link rel="stylesheet" href="/static/lib/bulma/bulma-0.7.5.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <style>
       ::placeholder {
          color: #888 !important;
       }
    </style>
  </head>
  <body style="background-color: white;">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <p>&nbsp;<p>
          {{#if firstlogin }}
            <img style="float:left; margin-right: 10px;" src="/static/images/klein.png">
          {{else}}    
            <a href="/">
              <img style="float:left; margin-right: 10px;" src="/static/images/klein.png">
            </a>
          {{/if}}
          <h1 class="title">Jugendwettbewerb Informatik</h1>
          <h2 class="subtitle">Programmieren – einfacher als du denkst!</h2>
        </div>
        <div class="column is-one-third">
          &nbsp;
          {{#if logged_in}}
            {{#if firstlogin }}{{else}}
            <div class="columns alogin">
              <div class="column is-four-fifths">
                Eingeloggt als <em>{{ username }}</em>
                {{#if firstname}}{{#if lastname}}
                  ({{firstname}} {{lastname}})
                {{/if}}{{/if}}
                {{#if teacher}}
                   [Lehrer]
                {{/if}}
                <br>
                <a href="/profile" class="button is-info is-small">👤 &nbsp; Profil</a>
                {{#if teacher}}
                  <a href="/group/" class="button is-info is-small">⚙ &nbsp; Gruppenverwaltung</a>
                {{/if}}
              </div>
              <div class="column"><a href="/logout" class="button is-small is-danger" type="submit">⨯ &nbsp; Logout</a></div>
            </div>
            <div class="columns alogin">
              <div class="column"></div>
            </div>
            {{/if}}
          {{else}}
            <!-- form action="/login" method="post">
              <div class="columns blogin">
                <div class="column is-three-fifths"><input class="input is-small" type="text" name="username" autofocus placeholder="Benutzername" style="width:50%"><input class="input is-small" type="password" name="password" placeholder="Passwort" style="width:50%"></div>
                <div class="column"><input class="button is-small is-success" type="submit" value="↪ &nbsp; Login" onclick="login();"></div>
              </div>
            </form -->
            <form action="/clogin" method="post" autocomplete="off">
              <div class="columns blogin">
                <div class="column is-three-fifths"><input class="input is-small" type="text" name="code" placeholder="Gruppencode oder Logincode" autofocus></div>
                <div class="column"><input class="button is-small is-success" type="submit" value="↪ &nbsp; Login"></div>
              </div>
            </form>
            {{#if self_url}}
              {{#each oauth_links}}
                <div class="columns blogin">
                  <div class="column is-two-fifth"></div>
                    <div class="column">
                    <a class="button is-small is-info" href="{{ this.2 }}{{ ../self_url }}/oauth/{{ this.0 }}">{{ this.1 }}</a>
                  </div>
                </div>
              {{/each}}
            {{/if}}  
          {{/if}}
        </div>
      </div>

      {{#if firstlogin }}{{else}}
      <div class="columns alogin">
        <div class="column is-8 is-offset-2">
          <div class="notification is-danger">
            <h3 class="title is-5">Achtung Testplattform!</h3>
            <p>Diese Wettbewerbsplattform ist noch in der Erprobungsphase. Bitten benutzen Sie für die Teilnahme am Jugendwettbewerb Informatik 2020 <a href="https://wettbewerb.jwinf.de">die aktuelle Wettbewerbsplattform</a> unter <a href="https://wettbewerb.jwinf.de">wettbewerb.jwinf.de</a>.</p>
          </div>
        </div>
      </div>
      {{/if}}
        
      {{~> page}}
    </div>
    &nbsp;
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <img src="/static/images/dachmarke_72.png" style="width:119px; height:72px; vertical-align: middle; margin-right:20px;"> Der <strong>Jugendwettbewerb Informatik</strong> ist ein Angebot der
          {{#if firstlogin }}
            Bundesweiten Informatikwettbewerbe.
          {{else}}
            <a href="https://bwinf.de">Bundesweiten Informatikwettbewerbe</a>.
          {{/if}}
        </p>
        <p>
           <a href="mailto:jwinf@bwinf.de">jwinf@bwinf.de</a>
           &nbsp;  &nbsp;  ·  &nbsp;  &nbsp;
           <a href="https://bwinf.de/jugendwettbewerb/datenschutz/">Datenschutz</a>
           &nbsp;  &nbsp;  ·  &nbsp;  &nbsp;
           <a href="https://bwinf.de/impressum/">Impressum</a>
        </p>
        <!--  <p>Diese Wettbewerbsplattform ist freie Software.</p> -->
      </div>
    </footer>
  </body>
</html>
