{{#*inline "page"}}

<div class="columns">
   <div class="column is-12 is-offset-1">
      / <a href="/">Startseite</a> /  <a href="../..">Wettbewerbsübersicht</a> / <a href="..">{{contest.name}}</a> / Gruppenergebnisse
   </div>
</div>
<div class="columns">
   <div class="column is-8 is-offset-2">
      <h3 class="title is-4">Ergebnisse in {{contest.name}}</h3>
   </div>
</div>

{{#if result}}
   <div class="columns">
      <div class="column is-8 is-offset-2">
         <h4 class="subtitle is-5">Ergebnisse herunterladen:
            <a href="download">{{contest.name}}.csv</a>
         </h4>
      </div>
   </div>

   <style>
      td { padding-left: 15px;}
      td:nth-child(4) {
         font-weight: bold;
      }
   </style>

   <div class="columns">
     <div class="column" style="overflow-x: scroll">
    <table class="table">
    <tr>
      <td>Gruppe</td>
      <td>Gruppencode</td>
      <td>Teilnehmer</td>
      <td>Logincode</td>
      <td>Gesamtpunkte</td>
      {{#each taskname}}
        <td>{{this}}</td>
      {{/each}}
    </tr>


    {{#each result}}
      <tr style="background-color:#e5fae5;"><td style="max-width:200px;"><a href="/group/{{this.group_id}}">{{this.groupname}}</a></td><td>{{this.groupcode}}</td><td colspan="99"></td></tr>
      {{#each this.user_results}}
        <tr><td></td><td></td>
          <td><a href="/user/{{this.user_id}}">{{this.firstname}} {{this.lastname}} ({{this.grade}})</a></td>
          <td>{{this.logincode}}</a></td>
          {{#each this.results}}
            <td>{{this}}</td>
          {{/each}}
        {{/each}}
      </tr>
    {{/each}}
  </table>
</div>
</div>

{{else}}
<div class="columns">
   <div class="column is-8 is-offset-2">
      <p>
         <em>Für diesen Wettbewerb sind noch keine Ergebnisse Ihrer Gruppen verzeichnet.</em>
      </p>
   </div>
</div>
{{/if}}


{{/inline}}
{{~> (parent)~}}
