{{#*inline "page"}}

<div class="columns">
   <div class="column is-12 is-offset-1">
      / <a href="/">Startseite</a> /  <a href="../..">Wettbewerbsübersicht</a> / <a href="..">{{contest.name}}</a> / Gruppenergebnisse
   </div>
</div>
<div class="columns">
   <div class="column is-8 is-offset-2">
      <h3 class="title is-4">Ergebnisse in {{contest.name}}</h3>
   </div></div>

<style>
  td { padding-left: 15px;}
</style>

{{#if result}}
  <table class="table">
    <tr>
      <td>Gruppe</td>
      <td>Teilnehmer</td>
      <td>Punkte</td>
    <tr>
      <td></td>
      <td></td>
      <td>Summe</td>
      {{#each taskname}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
    

    {{#each result}}
      <tr><td><a href="/group/{{this.1}}">{{this.0}}</a></td></tr>
      {{#each this.2}}
        <tr><td></td>
          <td><a href="/user/{{this.1}}">{{this.0}}</a></td>
          {{#each this.2}}
            <td>{{this}}</td>
          {{/each}}
        {{/each}}
      </tr>
    {{/each}}
  </table>
{{else}}
  <em>Für diesen Wettbewerb sind noch keine Ergebnisse ihrer Gruppen verzeichnet.</em>
{{/if}}

</div>
</div>

{{/inline}}
{{~> (parent)~}}
