{{#*inline "page"}}

<div class="columns">
   <div class="column is-12 is-offset-1">
      <nav class="breadcrumb" aria-label="breadcrumbs">
         <ul>
            <li></li>
            <li><a href="/">Startseite</a></li>
            <li class="is-active"><a href=".">Gruppenübersicht</a></li>
         </ul>
      </nav>
   </div>
</div>
<div class="columns">
   <div class="column is-8 is-offset-2">
      <h3 class="title is-4">Gruppen</h3>
   </div></div>

<div class="columns">
  <div class="column is-4 is-offset-2">
    <h4 class="subtitle is-5">Gruppen anlegen</h4>
    <p>
      <form action="/group/" method="post">
        <div class="field">
          <label class="label">Gruppenname</label>
          <div class="control">
            <input name="name" class="input" type="text" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Klassen-/Kursbezeichnung</label>
          <div class="control">
            <input name="tag" class="input" type="text" placeholder="optional">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <input type="submit" class="button is-link" value="Neue Gruppe anlegen">
          </div>
        </div>
        <div class="field">
          Die Klassen-/Kursbezeichnungen werden auf die Urkunden gedruckt. Die Urkunden werden danach sortiert.
        </div>
      </form>
      <hr>
  </div>

  <div class="column is-4">
    <h4 class="subtitle is-5">Wettbewerbsergebnisse einsehen</h4>
    <p> <a href="/contest/?results" class="button is-link">Wettbewerbsergebnisse meiner Gruppen</a></p>
    <hr>
  </div>
</div>


<div class="columns">
  <div class="column is-4 is-offset-2">
    <p>Sie können auch Gruppen über einen <a href="csv">CSV-Upload</a> anlegen.
      <hr>
  </div>
</div>


   <div class="columns">
      <div class="column is-8 is-offset-2">
   <h4 class="subtitle is-5">Meine verwalteten Gruppen</h4>


<p>
  {{#if group}}
     <table class="table">
       <tr>
          <th>Name</th>
          <th>Gruppencode</th>
          <!-- th>Mitglieder</th -->
          <th>Klassen-/Kursbezeichnung</th>
          <th></th>
          <th>Download</th>
        </tr>
        {{#each group}}
          <tr>
            <td><a href="/group/{{id}}">{{name}}</a></td>
            <td>{{code}}</td>
            <!-- td>–</td -->
            <td>{{tag}}</td>
            <td><a href="/group/{{id}}" class="button is-small">Ansehen …</a></td>
            <td><a href="/group/download/{{id}}">{{name}}.csv</a></td>
          </tr>
        {{/each}}
      </table>
  {{else}}
    <em>
      Noch keine Gruppe vorhanden.
      Legen Sie oben eine neue Gruppe an, um Ihren Schülerinnen und Schülern
      die Teilnahme an Wettbewerben zu ermöglichen
    </em>
  {{/if}}
</p>

   </div>
</div>

{{/inline}}
{{~> (parent)~}}
