{{#*inline "page"}}

{{#if firstlogin }}{{else}}
<div class="columns">
   <div class="column is-12 is-offset-1">
      <nav class="breadcrumb" aria-label="breadcrumbs">
         <ul>
            <li></li>
            <li><a href="/">Startseite</a></li>
            <li class="is-active"><a href=".">Profil &nbsp; <em>{{profile_firstname}} {{profile_lastname}}</em></a></li>
         </ul>
      </nav>
   </div>
</div>
{{/if}}
<div class="columns">
   <div class="column is-8 is-offset-2">
      <h3 class="title is-4">
         {{#if ownprofile}}
            Mein Profil: <em>{{profile_firstname}} {{profile_lastname}}</em>
         {{else}}
            Benutzerdaten bearbeiten von <em>{{profile_firstname}} {{profile_lastname}}</em>
         {{/if}}
      </h3>
   </div></div>
   <div class="columns">
     <div class="column is-8 is-offset-2" {{#if firstlogin }}style="border: 3px solid black; margin-bottom: 20px; margin-top: 20px; padding: 30px;"{{/if}}>


{{#if profile_username}}
   <p>Benutzername: {{profile_username}}</p>
{{/if}}

{{#if profile_logincode}}
  {{#if ownprofile}}
    <p>&nbsp;</p>
    <h4 class="subtitle is-5">Logincode: <strong>{{profile_logincode}}</strong></h4>
   {{else}}
   <p>Login-Code: <strong>{{profile_logincode}}</strong></p>
   {{/if}}
   
   {{#if firstlogin }}
     <p>
       <b>Nur dieser Logincode erlaubt dir, dich erneut einzuloggen</b> (anstelle eines Benutzernamen und eines Passworts).
       <b>Bitte schreibe ihn dir auf!</b>
     </p>
     <p>
     Wenn du deinen Logincode vergessen hast, kann deine Lehrerin oder dein Lehrer ihn dir sagen.
     </p>
     <p>&nbsp;</p>
     <p><button onclick="delayvisibilitybuttonclick();" id="delayvisibilitybutton">Ich habe mir den Logincode aufgeschrieben</button></p>
   {{/if}}
{{/if}}

      </div>
   </div>
   {{#if firstlogin }}
     <div class="columns" id="delayvisibility1">
         <div class="column is-8 is-offset-2">
            <p>
               Bitte gib noch deinen Namen und deine Jahrgangsstufe an und drücke dann auf „Speichern“:
            </p>
         </div>
      </div>
   {{/if}}
   
<div class="columns" id="delayvisibility2">
   <div class="column is-8 is-offset-2">

      
<form action="" method="post">
   <table class="table">
      <tr>
         <td>Vorname:</td><td><input name="firstname" value="{{ profile_firstname }}" required></td>
      </tr>
      <tr>
         <td>Nachname:</td><td><input name="lastname" value="{{ profile_lastname }}" required></td>
      </tr>
      {{#if profile_not_in_group}}
        {{#if profile_not_pms}}
        <tr>
           <td>Straße und Hausnummer:</td><td><input name="street" value="{{ profile_street }}"></td>
        </tr>
        <tr>
           <td>Postleitzahl:</td><td><input name="zip" value="{{ profile_zip }}"></td>
        </tr>
        <tr>
           <td>Stadt:</td><td><input name="city" value="{{ profile_city }}"></td>
        </tr>
        {{/if}}
      {{/if}}
      <tr>
         <td>Jahrgangsstufe:</td><td>
            <select name="grade" required>
               <option value=""></option>
               {{#if allow_notyetstudent}}
                  <option value="0" {{ sel0 }}>Noch kein Schüler</option>
               {{/if}}
               <option value="1" {{ sel1 }}>1</option>
               <option value="2" {{ sel2 }}>2</option>
               <option value="3" {{ sel3 }}>3</option>
               <option value="4" {{ sel4 }}>4</option>
               <option value="5" {{ sel5 }}>5</option>
               <option value="6" {{ sel6 }}>6</option>
               <option value="7" {{ sel7 }}>7</option>
               <option value="8" {{ sel8 }}>8</option>
               <option value="9" {{ sel9 }}>9</option>
               <option value="10" {{ sel10 }}>10</option>
               <option value="11" {{ sel11 }}>11 (G8)</option>
               <option value="12" {{ sel12 }}>12 (G8)</option>
               <option value="111" {{ sel111 }}>11 (G9)</option>
               <option value="112" {{ sel112 }}>12 (G9)</option>
               <option value="113" {{ sel113 }}>13 (G9)</option>
               <option value="114" {{ sel114 }}>Berufsschule</option>
               <option value="255" {{ sel255 }}>Kein Schüler mehr</option>
            </select>
         </td>
      </tr>
      <tr>
         <td>Geschlecht{{#if allow_sex_na}} (optional){{/if}}:</td><td>
            <select name="sex" {{#if require_sex}}required{{/if}}>
               <option value=""></option>
               {{#if allow_sex_na}}<option value="0" {{ sex_0 }}>Keine Angabe</option>{{/if}}
               <option value="2" {{ sex_2 }}>weiblich</option>
               <option value="1" {{ sex_1 }}>männlich</option>
               {{#if allow_sex_diverse}}<option value="3" {{ sex_3 }}>divers</option>{{/if}}
               {{#if allow_sex_other}}<option value="4" {{ sex_4 }}>anderes</option>{{/if}}
            </select>
         </td>
      </tr>
      {{#if profile_not_in_group}}
         {{#if profile_username}}
        <tr>
            <td>Neues Passwort:</td><td><input type="password" name="password" value=""></td>
        </tr>
        <tr>
            <td>Neues Passwort (wdh):</td><td><input type="password" name="password_repeat" value=""></td>
        </tr>
        {{/if}}
      {{/if}}
      <tr>
         <td></td><td><input type="hidden" name="csrf_token" value="{{ csrf_token }}"><input type="submit" value="Speichern"></td>
      </tr>
   </table>
</form>

<div style="color:green; font-weight:bold">
  {{#if NothingChanged}}
    <p>Keine Änderungen.</p>
  {{/if}}

  {{#if DataChanged}}
    <p>Daten wurden erfolgreich geändert.</p>
  {{/if}}

  {{#if PasswordChanged}}
    <p>Passwort wurde erfolgreich geändert.</p>
  {{/if}}

  {{#if PasswordMissmatch}}
    <p style="color:red;">Die eingegebenen Paswörter stimmen nicht überein. Passwort wurde nicht geändert.</p>
  {{/if}}
</div>

      </div>
   </div>

   {{#if ownprofile}}
      <div class="columns">
         <div class="column is-8 is-offset-2">
            <div style="font-weight:bold">
               <p>
                  {{#if NothingChanged}}
                     <a href="/" class="button is-warning">Zurück zur Startseite!</a>
                     <a href="/contest/?filter=open" class="button is-success">Zum Training!</a>
                     <a href="/contest/?filter=current" class="button is-info">Zu den Wettbewerben!</a>
                  {{/if}}

                  {{#if DataChanged}}
                     <a href="/" class="button is-warning">Zurück zur Startseite!</a>
                     <a href="/contest/?filter=open" class="button is-success">Zum Training!</a>
                     <a href="/contest/?filter=current" class="button is-info">Zu den Wettbewerben!</a>
                  {{/if}}

                  {{#if PasswordChanged}}
                     <a href="/" class="button is-warning">Zurück zur Startseite!</a>
                     <a href="/contest/?filter=open" class="button is-success">Zum Training!</a>
                     <a href="/contest/?filter=current" class="button is-info">Zu den Wettbewerben!</a>
                  {{/if}}
               </p>
            </div>
         </div>
      </div>
   {{/if}}

   {{#if firstlogin }}{{else}}
     {{#if participations}}
       <div class="columns">
         <div class="column is-8 is-offset-2">
           <h3 class="title is-4">Meine Teilnahmen</h3>
           {{#each participations}}
             <a href="/contest/{{0}}" style="{{#if this.2}}{{#if this.3}}font-weight:bold;{{else}}font-style:italic;{{/if}}{{/if}}">{{1}}</a> {{#if this.2}}{{#if this.3}}(aktiv){{else}}(beendet){{/if}}{{/if}}<br>
           {{/each}}
         </div>
       </div>
     {{/if}}
   {{/if}}

   {{#if firstlogin }}
     <script>
document.getElementById("delayvisibility1").style.display = "none";
document.getElementById("delayvisibility2").style.display = "none";

function delayvisibilitybuttonclick() {
  document.getElementById("delayvisibilitybutton").style.display = "none";
  document.getElementById("delayvisibility1").style.display = "";
  document.getElementById("delayvisibility2").style.display = "";
}
</script>
{{/if}}

{{/inline}}
{{~> (parent)~}}
