<h1>{{contest.name}}</h1>

<p>
Dauer: {{contest.duration}} Minuten



{{#if participation_start_date}}

<p>
Gestartet vor {{participation_start_date}} Sekunden.

<p>
{{#if time_left}}
Verbleibenden Zeit: {{time_left}}
{{else}}
Die Zeit ist abgelaufen!
{{/if}}

{{#each contest.tasks}}
<p>
  {{name}}:
  {{#each subtasks}}
  <li><a href="/task/{{id}}">{{linktext}}</a></li>
  {{/each}}
</p>
{{/each}}

{{else}}

<p>
<form action="" method="post">
  <input type="hidden" name="csrftoken" value="{{csrftoken}}">
  <input type="submit" value="Jetzt starten!">
</form>

<p>
Der Wettbewerb kann nach dem starten nicht mehr pausiert werden.

{{/if}}


{{#if teacher}}
<a href="/contest/{{ contest.id }}/result/">Ergebnisse meiner Gruppen anzeigen.</a>
{{/if}}