<h1>Gruppen</h1>
<p><a href="/">Zurück zur Startseite</a></p>

<h2>Gruppe anlegen</h2>

<p>
   <form action="/group/" method="post">
      Gruppename:
      <input name="name">
      Marker:
      <input name="tag" placeholder="optional">
      <input type="hidden" name="csrf" value="{{csrftoken}}">
      <input type="submit" value="Neue Gruppe anlegen">
   </form>
</p>
<p>Der Marker wird beim Druck von Urkunden mitgedruckt und dient für Sie zur Zuordnung</p>

<h2>Meine Gruppen</h2>

<p><table>
   <tr>
      <th>Name</th>
      <th>Gruppencode</th>
      <th>Mitglieder</th>
      <th>Marker</th>
   </tr>
   <tr>
      <td><a href="/group/1">3a</a></td>
      <td>r487an48ase</td>
      <td>1</td>
      <td>3a</td>
      <td><a href="/group/1">bearbeiten …</a></td>
   </tr>
</table></p>



<ul>
{{#each group}}
  <li><a href="/contest/{{id}}">{{name}}, {{tag}}, {{code}}</li>
{{/each}}
</ul>

   
<p><a href="/">Zurück zur Startseite</a></p>
