<h1>Task: {{name}}</h1>


<iframe src="/{{taskpath}}#taskid={{taskid}}&csrftoken={{csrftoken}}" height="500" width="800" name="taskframe">Leider unterstützt ihr Browser keine Frames. Sie können die Aufgabe auch manuell aufrufen: <a href="/{{taskpath}}#taskid={{taskid}}&csrftoken={{csrftoken}}">Aufgabe manuell bearbeiten</a>.</iframe>